* {
    padding: 0;
    margin: 0;
}

#mapContainer {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

h1, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
}

rect {
    margin-left: 30px;
    width: 100;
    height: 50;
}

body {
    background-image: './forest-background.jpg'
}

.mainContainer {
    min-width: 100vw;
    min-height: 100vh;
    background: url(forest-background.jpg);
    background-size: cover;
}

.sub-container {
    height: 100%;
    width: 100%;
}